<?xml version="1.0" encoding="utf-8"?>
<plugin id="back2native-cordova-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>back2native</name>
	<js-module name="back2native" src="www/back2native.js">
		<clobbers target="cordova.plugins.back2native" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="back2native">
				<param name="android-package" value="back2native.Back2native" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/Back2native.java" target-dir="src/back2native" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="back2native">
				<param name="ios-package" value="back2native" />
			</feature>
		</config-file>
		<source-file src="src/ios/back2native.m" />
	</platform>
</plugin>
